body {
  font-family: "Roboto", sans-serif;
  font-weight:400;
  line-height: 1.6;

  /* margin: 0; */
  margin-top: 25px;

  /* padding: 20px; */
  background-color: #f9fafb;
  color: black;

  /* transform: scale(1.55); this messes up the layout */
  font-size: larger;

  /* always show scroll bar that pages do not shift */
  overflow: scroll;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
    /* padding: 30px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.home-link {
  text-decoration: none;
  color: darkgreen;
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
}

.home-link:hover {
  color: black; /* Color on hover */
}

.nav a {
  margin-left: 15px;
  text-decoration: none;
  color: darkgreen; /* Default color for navigation links */
}

.nav a:hover {
  color: #000; /* Color on hover */
}

.nav {
  font-size: x-large;
  color: #838383;
}

p {
  margin-bottom: 20px;
}

a {
  color: darkgreen; /* Default color for all links */
  text-decoration: underline;
}

a:hover {
  color: black; /* Color on hover */
}

hr {
  border: none;
  border-top: 2px solid darkgreen;
  margin: 10px 0;
}


/* image styling */
.image-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

img{
  width: 20%;
  border: 2px solid darkgreen;
  border-radius: 2.5%;
}

img:hover{
  transform: scale(1.01);
  transition: transform 0.5s;
}

.system-pic{
  width: 37%;
}

.sim-pic{
  width: 33.5%;
}

/* video styling */
.video-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.video{
  border: 2px solid darkgreen;
  border-radius: 2.5%;
}

.video:hover{
  transform: scale(1.01);
  transition: transform 0.5s;
}

/* footer styling */
footer p {
  margin: 5px 0;
  color: grey;
}

footer a {
  color: darkgreen;
  text-decoration: none;
}

footer a:hover {
  color: black; /* Color on hover */
}

footer{
  margin-top: 20px;
}