body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  margin-top: 85px;
  padding: 20px;
  background-color: #f9fafb;
  color: #363636;
  transform: scale(1.35);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin: 0;
}

.home-link {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  font-size: 0.57rem;
}

.home-link:hover {
  color: #838383; /* Color on hover */
}

.nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #838383; /* Default color for navigation links */
}

.nav a:hover {
  color: #000; /* Color on hover */
}

.nav {
  font-size: 1.1rem;
  color: #838383;
}

p {
  margin-bottom: 20px;
}

a {
  color: #000; /* Default color for all links */
  text-decoration: underline;
}

a:hover {
  color: #838383; /* Color on hover */
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.contacts p {
  margin: 5px 0;
  color: #838383;
}

.contacts a {
  color: #838383;
}

.contacts a:hover {
  color: #000; /* Color on hover */
}